h1{
    size: 65px;
    color: orange;
    font-family: sans-serif;
    text-decoration: overline;
}

p{
    font-weight: 600px;
    font-size: 3em;
    font-style: oblique;
    text-align: center;
}

body{
    font-size: 16px;
    line-height: 2em;
}

ul{
    background-color: antiquewhite;
}

.colorPUl{
    background-color: bisque;
}

.black{
    color: black;
}

.red{
    color: red;
}

.yellow{
    color: yellow;
}